.trip-card {
  margin-top: 30px;
  height: 200px;
  width: 100%;
  border: 1px solid red;
}

.img-container {
  height: 100%;
  width: 100%;
  
  img {
    padding: 15px;
    height: 100%;
    width: 40%;
  }
}