.trip-card {
  @include centered-flex-container;
  justify-content: start;
  
  margin-top: 30px;
  height: 200px;
  width: 100%;

  background: $brand-color-3;
  border: 1px solid $brand-color-1 {
    radius: 10px;
  };
  
  h2 {
    color: $secondary-font-color;
  }
}

.img-container {
  height: 100%;
  width: 40%;
  
  
  img {
    padding: 15px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
}