@import '../../../node_modules/normalize.css/normalize';

@import '../modules/all';
@import '../modules/typography';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
