header {
  @include centered-flex-container;
  height: 125px;
  width: 100%;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, .4) 0%,
    rgba(0, 0, 0, .4) 25%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header-nav-container {
  nav ul {
    @include centered-flex-container;
    gap: 40px;

    list-style: none;
    height: 100px;
    width: 100%;

    margin-block: {
      start: 0;
      end: 0;
    }
    padding-inline-start: 0;
  }
}
