@import '../base';

.request-form-container {
  height: 80px;
  width: 75%;
  margin: 5vh auto;

  #request-form {
    @include centered-flex-container;
    width: 100%;
    padding: 10px;
    gap: 10px;

    #pax {
      width: 100px;
    }
  }
}

.dropdown-container {
  display: inline-block;
  position: relative;
}

.dropdown-options {
  display: none;
  height: 200px;
  position: absolute;
  overflow: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);

  p {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding: 20px 40px;
    cursor: pointer;

    &:hover {
      color: #0a0a23;
      background-color: #ddd;
      border-radius: 5px;
    }
  }
}

.dropdown-container:hover .dropdown-options,
input#destination:focus .dropdown-options {
  display: block;
}

.form-element {
  @include vertical-centered-flex-container;
  align-items: start;

  & > label {
    color: $brand-color-5;
  }

  & > input {
    color: $brand-color-2;
  }
}
