// Font Colors

$primary-font-color: #e9e9e9;
$secondary-font-color: #fab02b;

// Brand Colors

$brand-color-1: #fab02b;
$brand-color-2: #3f6064;
$brand-color-3: #041f1e;
$brand-color-4: #8d5b4c;
$brand-color-5: #6ea4bf;
